@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Universal Style */

* {
    margin: 0;
    padding: 0;
}

/* Universal style over */

/* Shared Style */
.cmn-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

.cmn-flx {
    display: flex;
}

.dark1 {
    color: rgba(19, 19, 19, 1);
}

.yellow {
    color: rgba(255, 144, 14, 1);
}

.dark3 {
    color: rgba(114, 114, 114, 1);
}

.navbar,
.banner,
main {
    max-width: 1440px;
    margin: 0 auto;
}

.cmn-btn {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

.cmn-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
}

.cmn-heading {
    font-size: 2.82rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    ;
}

main>section {
    margin-top: 80px;
}

main {
    padding: 20px;
}

/* Shared Style Over */

/* Header Section Design Start */
.head {
    padding: 20px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    gap: 50px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);
}

/* (navbar done) now Banner desiign start */
.banner {
    margin-top: 70px;
}

.banner h1 {
    font-size: 4rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}

.banner img {
    width: 100%;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.banner-content>* {
    margin-bottom: 20px;
}

/* header Section design over */


/* Main Section Disign Start */

/* Team Section Design start */
.team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-feature>* {
    margin-bottom: 25px;
}

.team-feature {
    max-width: 535px;
}

.sp-1 {
    font-weight: 500;
}

/* Team section Design Over */

/* Feature Section Design Start */

.feature-container {
    display: flex;
    gap: 140px;
    align-items: center;
    justify-content: center;
}

.feature-txt h3 {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
    margin-bottom: 24px;
}

.feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card h5 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 10px;
}

.feature-txt-intro {
    margin-bottom: 30px;
}

.cmn-btn span {
    font-size: 4rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

#feature-btn {
    font-size: 1.56rem;
    font-weight: 500;
    padding: 45px 42px;
    margin-left: -80px;
    margin-top: -110px;
}

.feature-img img {
    width: 100%;
}
/* feature section design Over */

/* Some Facts Section Design start */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.fact-info {
    max-width: 542px;
    margin-bottom: 60px;
}

.fact-info>* {
    margin-top: 20px;
}

.fct-no {
    font-size: 2.8rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    margin-top: 10px;
    margin-bottom: 5px;
}

.fct-txt {
    font-size: 1.35rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1);
}

.fact-card {
    width: 242px;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
}

.fact-content {
    text-align: center;
}

/* Some Fect section Desig Over */

/* Sponser Section section Design start */
.sponser-info {
    max-width: 540px;
    margin: 40px auto;
    text-align: center;
}

.sponser-info>* {
    margin-bottom: 10px;
}

.sponser-logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.sponser-logo img {
    filter: grayscale(100%);
}

/* sponser Section design over */

/* Footer Section Design Start */
.foot{
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(66, 66, 66, 1);
}
/* Footer Section Design Over */

/* Responsive Desing start for medium devices */

@media screen and (max-width: 1100px) {
    .team,.feature-container {
        flex-direction: column;
    }

    /* Team Section Responsive Over */

    /* Feature Section Responsive Start */
    #feature-btn{
        margin: 20px auto;
    }
    .feature-container{
        gap: 50px;
    }
    /* Feature Section Responsive Over */


    /* Some-fact section Responsive start */
    .fact-container,
    .sponser-logo {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    /* some Fact Section Responsive Over */
}


/* Responsive Design Start for Small Device */

@media screen and (max-width: 700px) {

    /* Shared Responsive */
    .navbar,
    .navbar ul,
    .team,
    .feature-container {
        flex-direction: column;
    }

    /* Shared responsive over */

    /* Header Section Responsive */
    nav ul {
        gap: 15px;
    }

    .head {
        padding: 10px;
    }

    /* Header section responsive over */

    /* Team section Responsive start*/
    .team-img {
        grid-template-columns: 1fr;
    }

    /* Team Section Responsive End */

    /* Feature section Responsive start */

    #feature-btn{
        margin: 20px auto;
    }
    .feature-container{
        gap: 50px;
    }
    /* Feature Section Responsive Over */

    /* Some Fact Section Responsive Start */
    .fact-container,
    .sponser-logo {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    /* some fect section & sponser Section responsive over */
}